{
  "openapi": "3.0.1",
  "info": {
    "title": "financial datasets API",
    "description": "A developer-friendly stock market API.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.financialdatasets.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/financials/income-statements": {
      "get": {
        "description": "Get income statements for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the income statements.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of income statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Income statement response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/income_statement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/financials/balance-sheets": {
      "get": {
        "description": "Get balance sheets for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the balance sheets.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of balance sheets to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance sheet response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/balance_sheet"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/financials/cash-flow-statements": {
      "get": {
        "description": "Get cash flow statements for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the cash flow statements.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of cash flow statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cash flow statement response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/cash_flow_statement"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "income_statement": {
        "type": "object",
        "properties": {
          "ticker": {
            "description": "The ticker symbol of the company.",
            "type": "string"
          },
          "period": {
            "description": "The time period of the income statements.",
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ]
          }
        }
      },
      "balance_sheet": {
        "type": "object",
        "properties": {
          "ticker": {
            "description": "The ticker symbol of the company.",
            "type": "string"
          },
          "period": {
            "description": "The time period of the balance sheets.",
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ]
          }
        }
      },
      "cash_flow_statement": {
        "type": "object",
        "properties": {
          "ticker": {
            "description": "The ticker symbol of the company.",
            "type": "string"
          },
          "period": {
            "description": "The time period of the cash flow statements.",
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ]
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}