{
  "openapi": "3.0.1",
  "info": {
    "title": "financial datasets API",
    "description": "A developer-friendly stock market API.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.financialdatasets.ai"
    }
  ],
  "security": [
    {
      "X-API-KEY": []
    }
  ],
  "paths": {
    "/financials/search": {
      "post": {
        "description": "Search for financial data across income statements, balance sheets, and cash flow statements using filters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/search_filters_request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/financials_search_response"
                }
              }
            }
          }
        }
      }
    },
    "/financials/search/line-items": {
      "post": {
        "description": "Search for specific financial metrics across income statements, balance sheets, and cash flow statements.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/search_line_items_request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/financials_search_response"
                }
              }
            }
          }
        }
      }
    },
    "/insider-transactions": {
      "get": {
        "description": "Get insider transactions for a specific ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol of the company.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactions to return (default: 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful insider transactions response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/insider_transactions_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          }
        }
      }
    },
    "/company/facts": {
      "get": {
        "description": "Get company facts for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SEC filings response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/company_facts_response"
                }
              }
            }
          }
        }
      }
    },
    "/filings": {
      "get": {
        "description": "Get SEC filings for a company.",
        "parameters": [
          {
            "name": "cik",
            "in": "query",
            "description": "The Central Index Key (CIK) of the company.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SEC filings response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/filings_response"
                }
              }
            }
          }
        }
      }
    },
    "/financials/segmented": {
      "get": {
        "description": "Get detailed, segmented financial data for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The date or time period to which the reported financial data relates in ISO 8601 format (YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of financial statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segmented financial statements response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/segmented_financials_response"
                }
              }
            }
          }
        }
      }
    },
    "/financials/income-statements": {
      "get": {
        "description": "Get income statements for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the income statements.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of income statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Income statements response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/income_statement_response"
                }
              }
            }
          }
        }
      }
    },
    "/financials/balance-sheets": {
      "get": {
        "description": "Get balance sheets for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the balance sheets.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of balance sheets to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance sheets response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/balance_sheet_response"
                }
              }
            }
          }
        }
      }
    },
    "/financials/cash-flow-statements": {
      "get": {
        "description": "Get cash flow statements for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the cash flow statements.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of cash flow statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cash flow statements response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cash_flow_statement_response"
                }
              }
            }
          }
        }
      }
    },
    "/prices/snapshot": {
      "get": {
        "description": "Get the real-time price snapshot for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price snapshot response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/price_snapshot_response"
                }
              }
            }
          }
        }
      }
    },
    "/financials": {
      "get": {
        "description": "Get all financial statements for a ticker.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period of the financial statements.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of financial statements to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial statements response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/financials_response"
                }
              }
            }
          }
        }
      }
    },
    "/prices": {
      "get": {
        "description": "Get ranged price data for a ticker to power stock charts and analyze price movements.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "The ticker symbol.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "The time interval for the price data.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "second",
                "minute",
                "day",
                "week",
                "month",
                "quarter",
                "year"
              ]
            }
          },
          {
            "name": "interval_multiplier",
            "in": "query",
            "description": "The multiplier for the interval.",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "The start date for the price data (format: YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end date for the price data (format: YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of price records to return (default: 5000, max: 5000).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price data response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prices_response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-API-KEY": {
        "type": "apiKey",
        "name": "X-API-KEY",
        "description": "API key for authentication.",
        "in": "header"
      }
    },
    "schemas": {
      "search_filters_request": {
        "type": "object",
        "required": [
          "filters"
        ],
        "properties": {
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ],
            "default": "ttm",
            "description": "The time period for the financial data."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 100,
            "description": "The maximum number of results to return."
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "field",
                "operator",
                "value"
              ],
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The financial metric to filter on."
                },
                "operator": {
                  "type": "string",
                  "enum": [
                    "gt",
                    "lt",
                    "gte",
                    "lte",
                    "eq"
                  ],
                  "description": "The comparison operator."
                },
                "value": {
                  "type": "number",
                  "description": "The value to compare against."
                }
              }
            },
            "minItems": 1,
            "description": "An array of filter objects to apply to the search."
          },
          "order": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc",
            "description": "The order of the results based on the report_period."
          }
        }
      },
      "search_line_items_request": {
        "type": "object",
        "required": [
          "line_items",
          "tickers"
        ],
        "properties": {
          "line_items": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "The financial metric to search for."
            },
            "minItems": 1,
            "description": "An array of line items to apply to the search."
          },
          "tickers": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "The tickers to search for."
            },
            "minItems": 1,
            "description": "An array of tickers to apply to the search."
          },
          "period": {
            "type": "string",
            "enum": [
              "annual",
              "quarterly",
              "ttm"
            ],
            "default": "ttm",
            "description": "The time period for the financial data."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "The maximum number of results to return."
          }
        }
      },
      "financials_search_response": {
        "type": "object",
        "properties": {
          "search_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ticker": {
                  "type": "string",
                  "description": "The ticker symbol of the company."
                },
                "report_period": {
                  "type": "string",
                  "format": "date",
                  "description": "The reporting period of the financial data."
                },
                "period": {
                  "type": "string",
                  "enum": [
                    "annual",
                    "quarterly",
                    "ttm"
                  ],
                  "description": "The time period of the financial data."
                }
              },
              "additionalProperties": {
                "type": "string",
                "description": "Additional financial metrics based on the search criteria."
              }
            }
          }
        }
      },
      "insider_transactions_response": {
        "type": "object",
        "properties": {
          "insider_transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/insider_transaction"
            }
          }
        }
      },
      "financials_response": {
        "type": "object",
        "properties": {
          "financials": {
            "type": "object",
            "properties": {
              "income_statements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/income_statement"
                }
              },
              "balance_sheets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/balance_sheet"
                }
              },
              "cash_flow_statements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/cash_flow_statement"
                }
              }
            }
          }
        }
      },
      "segmented_financials_response": {
        "type": "object",
        "properties": {
          "segmented_financials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/segmented_financial_statement"
            }
          }
        }
      },
      "income_statement_response": {
        "type": "object",
        "properties": {
          "income_statements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/income_statement"
            }
          }
        }
      },
      "balance_sheet_response": {
        "type": "object",
        "properties": {
          "balance_sheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/balance_sheet"
            }
          }
        }
      },
      "cash_flow_statement_response": {
        "type": "object",
        "properties": {
          "cash_flow_statements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cash_flow_statement"
            }
          }
        }
      },
      "company_facts_response": {
        "type": "object",
        "properties": {
          "company_facts": {
            "$ref": "#/components/schemas/company_facts"
          }
        }
      },
      "filings_response": {
        "type": "object",
        "properties": {
          "filings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/filing"
            }
          }
        }
      },
      "price_snapshot_response": {
        "type": "object",
        "properties": {
          "snapshot": {
            "$ref": "#/components/schemas/price_snapshot"
          }
        }
      },
      "prices_response": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/price"
            }
          }
        }
      },
      "error_response": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "A short error message."
          },
          "message": {
            "type": "string",
            "description": "A more detailed error message."
          }
        }
      },
      "insider_transaction": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol of the company."
          },
          "issuer": {
            "type": "string",
            "description": "The name of the issuing company."
          },
          "name": {
            "type": "string",
            "description": "The name of the insider."
          },
          "title": {
            "type": "string",
            "description": "The title of the insider."
          },
          "is_board_director": {
            "type": "boolean",
            "description": "Whether the insider is a board director."
          },
          "transaction_date": {
            "type": "string",
            "format": "date",
            "description": "The date of the transaction."
          },
          "transaction_shares": {
            "type": "number",
            "description": "The number of shares involved in the transaction."
          },
          "transaction_price_per_share": {
            "type": "number",
            "description": "The price per share in the transaction."
          },
          "transaction_value": {
            "type": "number",
            "description": "The total value of the transaction."
          },
          "shares_owned_before_transaction": {
            "type": "number",
            "description": "The number of shares owned before the transaction."
          },
          "shares_owned_after_transaction": {
            "type": "number",
            "description": "The number of shares owned after the transaction."
          },
          "security_title": {
            "type": "string",
            "description": "The title of the security involved in the transaction."
          },
          "filing_date": {
            "type": "string",
            "format": "date",
            "description": "The date the transaction was filed."
          }
        }
      },
      "segmented_financial_statement": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol."
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "The reporting period of the financial statement."
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "annual"
            ],
            "description": "The time period of the financial statement."
          },
          "items": {
            "type": "array",
            "description": "An array of financial metrics from SEC filings (10-Ks and 10-Qs) in XBRL format",
            "items": {
              "type": "object",
              "properties": {
                "axis": {
                  "type": "string",
                  "description": "Represents the dimensional context of the reported data, often used by companies to categorize or segment information according to SEC reporting requirements."
                },
                "key": {
                  "type": "string",
                  "description": "A unique identifier for the financial metric, typically using the XBRL taxonomy. It specifies the particular financial concept being reported."
                },
                "value": {
                  "type": "number",
                  "description": "The numerical amount reported for the specified financial metric, expressed in the company's reporting currency; default is USD."
                },
                "period": {
                  "type": "string",
                  "description": "The date or time period to which the reported financial data relates in ISO 8601 format (YYYY-MM-DD)."
                }
              }
            }
          }
        }
      },
      "income_statement": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol."
          },
          "calendar_date": {
            "type": "string",
            "format": "date",
            "description": "The date of the income statement."
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "The reporting period of the income statement."
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "ttm",
              "annual"
            ],
            "description": "The time period of the income statement."
          },
          "revenue": {
            "type": "number",
            "nullable": false,
            "description": "The total revenue of the company."
          },
          "cost_of_revenue": {
            "type": "number",
            "nullable": false,
            "description": "The cost of revenue of the company."
          },
          "gross_profit": {
            "type": "number",
            "nullable": false,
            "description": "The gross profit of the company."
          },
          "operating_expense": {
            "type": "number",
            "nullable": false,
            "description": "The operating expenses of the company."
          },
          "selling_general_and_administrative_expenses": {
            "type": "number",
            "nullable": false,
            "description": "The selling, general, and administrative expenses of the company."
          },
          "research_and_development": {
            "type": "number",
            "nullable": false,
            "description": "The research and development expenses of the company."
          },
          "operating_income": {
            "type": "number",
            "nullable": false,
            "description": "The operating income of the company."
          },
          "interest_expense": {
            "type": "number",
            "nullable": false,
            "description": "The interest expenses of the company."
          },
          "ebit": {
            "type": "number",
            "nullable": false,
            "description": "The earnings before interest and taxes of the company."
          },
          "income_tax_expense": {
            "type": "number",
            "nullable": false,
            "description": "The income tax expenses of the company."
          },
          "net_income_discontinued_operations": {
            "type": "number",
            "nullable": false,
            "description": "The net income from discontinued operations of the company."
          },
          "net_income_non_controlling_interests": {
            "type": "number",
            "nullable": false,
            "description": "The net income from non-controlling interests of the company."
          },
          "net_income": {
            "type": "number",
            "nullable": false,
            "description": "The net income of the company."
          },
          "net_income_common_stock": {
            "type": "number",
            "nullable": false,
            "description": "The net income available to common stockholders of the company."
          },
          "preferred_dividends_impact": {
            "type": "number",
            "nullable": false,
            "description": "The impact of preferred dividends on the net income of the company."
          },
          "consolidated_income": {
            "type": "number",
            "nullable": false,
            "description": "The consolidated income of the company."
          },
          "earnings_per_share": {
            "type": "number",
            "nullable": false,
            "description": "The earnings per share of the company."
          },
          "earnings_per_share_diluted": {
            "type": "number",
            "nullable": false,
            "description": "The diluted earnings per share of the company."
          },
          "dividends_per_common_share": {
            "type": "number",
            "nullable": false,
            "description": "The dividends per common share of the company."
          },
          "weighted_average_shares": {
            "type": "number",
            "nullable": false,
            "description": "The weighted average shares of the company."
          },
          "weighted_average_shares_diluted": {
            "type": "number",
            "nullable": false,
            "description": "The diluted weighted average shares of the company."
          }
        }
      },
      "balance_sheet": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol."
          },
          "calendar_date": {
            "type": "string",
            "format": "date",
            "description": "The date of the balance sheet."
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "The reporting period of the balance sheet."
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "ttm",
              "annual"
            ],
            "description": "The time period of the balance sheet."
          },
          "total_assets": {
            "type": "number",
            "nullable": false,
            "description": "The total assets of the company."
          },
          "current_assets": {
            "type": "number",
            "nullable": false,
            "description": "The current assets of the company."
          },
          "cash_and_equivalents": {
            "type": "number",
            "nullable": false,
            "description": "The cash and equivalents of the company."
          },
          "inventory": {
            "type": "number",
            "nullable": false,
            "description": "The inventory of the company."
          },
          "current_investments": {
            "type": "number",
            "nullable": false,
            "description": "The current investments of the company."
          },
          "trade_and_non_trade_receivables": {
            "type": "number",
            "nullable": false,
            "description": "The trade and non-trade receivables of the company."
          },
          "non_current_assets": {
            "type": "number",
            "nullable": false,
            "description": "The non-current assets of the company."
          },
          "property_plant_and_equipment": {
            "type": "number",
            "nullable": false,
            "description": "The property, plant, and equipment of the company."
          },
          "goodwill_and_intangible_assets": {
            "type": "number",
            "nullable": false,
            "description": "The goodwill and intangible assets of the company."
          },
          "investments": {
            "type": "number",
            "nullable": false,
            "description": "The investments of the company."
          },
          "non_current_investments": {
            "type": "number",
            "nullable": false,
            "description": "The non-current investments of the company."
          },
          "outstanding_shares": {
            "type": "number",
            "nullable": false,
            "description": "The outstanding shares of the company."
          },
          "tax_assets": {
            "type": "number",
            "nullable": false,
            "description": "The tax assets of the company."
          },
          "total_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "The total liabilities of the company."
          },
          "current_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "The current liabilities of the company."
          },
          "current_debt": {
            "type": "number",
            "nullable": false,
            "description": "The current debt of the company."
          },
          "trade_and_non_trade_payables": {
            "type": "number",
            "nullable": false,
            "description": "The trade and non-trade payables of the company."
          },
          "deferred_revenue": {
            "type": "number",
            "nullable": false,
            "description": "The deferred revenue of the company."
          },
          "deposit_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "The deposit liabilities of the company."
          },
          "non_current_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "The non-current liabilities of the company."
          },
          "non_current_debt": {
            "type": "number",
            "nullable": false,
            "description": "The non-current debt of the company."
          },
          "tax_liabilities": {
            "type": "number",
            "nullable": false,
            "description": "The tax liabilities of the company."
          },
          "shareholders_equity": {
            "type": "number",
            "nullable": false,
            "description": "The shareholders' equity of the company."
          },
          "retained_earnings": {
            "type": "number",
            "nullable": false,
            "description": "The retained earnings of the company."
          },
          "accumulated_other_comprehensive_income": {
            "type": "number",
            "nullable": false,
            "description": "The accumulated other comprehensive income of the company."
          },
          "total_debt": {
            "type": "number",
            "nullable": false,
            "description": "The total debt of the company."
          }
        }
      },
      "cash_flow_statement": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol."
          },
          "calendar_date": {
            "type": "string",
            "format": "date",
            "description": "The date of the cash flow statement."
          },
          "report_period": {
            "type": "string",
            "format": "date",
            "description": "The reporting period of the cash flow statement."
          },
          "period": {
            "type": "string",
            "enum": [
              "quarterly",
              "ttm",
              "annual"
            ],
            "description": "The time period of the cash flow statement."
          },
          "net_cash_flow_from_operations": {
            "type": "number",
            "nullable": false,
            "description": "The net cash flow from operations of the company."
          },
          "depreciation_and_amortization": {
            "type": "number",
            "nullable": false,
            "description": "The depreciation and amortization of the company."
          },
          "share_based_compensation": {
            "type": "number",
            "nullable": false,
            "description": "The share-based compensation of the company."
          },
          "net_cash_flow_from_investing": {
            "type": "number",
            "nullable": false,
            "description": "The net cash flow from investing of the company."
          },
          "capital_expenditure": {
            "type": "number",
            "nullable": false,
            "description": "The capital expenditure of the company."
          },
          "business_acquisitions_and_disposals": {
            "type": "number",
            "nullable": false,
            "description": "The business acquisitions and disposals of the company."
          },
          "investment_acquisitions_and_disposals": {
            "type": "number",
            "nullable": false,
            "description": "The investment acquisitions and disposals of the company."
          },
          "net_cash_flow_from_financing": {
            "type": "number",
            "nullable": false,
            "description": "The net cash flow from financing of the company."
          },
          "issuance_or_repayment_of_debt_securities": {
            "type": "number",
            "nullable": false,
            "description": "The issuance or repayment of debt securities of the company."
          },
          "issuance_or_purchase_of_equity_shares": {
            "type": "number",
            "nullable": false,
            "description": "The issuance or purchase of equity shares of the company."
          },
          "dividends_and_other_cash_distributions": {
            "type": "number",
            "nullable": false,
            "description": "The dividends and other cash distributions of the company."
          },
          "change_in_cash_and_equivalents": {
            "type": "number",
            "nullable": false,
            "description": "The change in cash and equivalents of the company."
          },
          "effect_of_exchange_rate_changes": {
            "type": "number",
            "nullable": false,
            "description": "The effect of exchange rate changes of the company."
          }
        }
      },
      "company_facts": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "The ticker symbol of the company."
          },
          "name": {
            "type": "string",
            "description": "The name of the company."
          },
          "cik": {
            "type": "string",
            "description": "The Central Index Key (CIK) of the company."
          },
          "market_cap": {
            "type": "number",
            "description": "The market capitalization of the company."
          },
          "number_of_employees": {
            "type": "number",
            "description": "The number of employees at the company."
          },
          "sic_code": {
            "type": "string",
            "description": "The Standard Industrial Classification (SIC) code of the company."
          },
          "sic_description": {
            "type": "string",
            "description": "The description of the Standard Industrial Classification (SIC) code."
          },
          "website_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the company's website."
          },
          "listing_date": {
            "type": "string",
            "format": "date",
            "description": "The date the company was listed on the stock exchange."
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the company is currently active."
          }
        }
      },
      "filing": {
        "type": "object",
        "properties": {
          "cik": {
            "type": "integer",
            "description": "The Central Index Key (CIK) of the company."
          },
          "accession_number": {
            "type": "string",
            "description": "The accession number of the filing."
          },
          "filing_type": {
            "type": "string",
            "description": "The type of the SEC filing (e.g., 10-Q, 8-K)."
          },
          "report_date": {
            "type": "string",
            "format": "date",
            "description": "The date of the report."
          },
          "ticker": {
            "type": "string",
            "description": "The ticker symbol."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the SEC filing."
          }
        }
      },
      "price_snapshot": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "description": "The current price of the stock."
          },
          "ticker": {
            "type": "string",
            "description": "The ticker symbol."
          },
          "day_change": {
            "type": "number",
            "description": "The price change since the previous trading day's close."
          },
          "day_change_percent": {
            "type": "number",
            "description": "The percentage price change since the previous trading day's close."
          },
          "time": {
            "type": "string",
            "description": "The timestamp of the price snapshot in human-readable format."
          },
          "time_nanoseconds": {
            "type": "integer",
            "format": "int64",
            "description": "The timestamp of the price snapshot in nanoseconds."
          }
        }
      },
      "price": {
        "type": "object",
        "properties": {
          "open": {
            "type": "number",
            "description": "The open price of the ticker in the given time period."
          },
          "close": {
            "type": "number",
            "description": "The close price of the ticker in the given time period."
          },
          "high": {
            "type": "number",
            "description": "The high price of the ticker in the given time period."
          },
          "low": {
            "type": "number",
            "description": "The low price of the ticker in the given time period."
          },
          "volume": {
            "type": "integer",
            "format": "number",
            "description": "The volume of the ticker in the given time period."
          },
          "time": {
            "type": "string",
            "description": "The human-readable time format of the price."
          },
          "time_milliseconds": {
            "type": "integer",
            "format": "int64",
            "description": "The UNIX millisecond timestamp of the price."
          }
        }
      }
    }
  }
}